/* #s1{
   width: 500px;
   height: 500px;
   border: 1px black;
   
}
#d1,
#d2{
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    display: inline-block;
    display: block;
    color:blueviolet ;
    background-color: rgb(42, 42, 39);

}
#d3,
#d5{
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    display: inline-block;
} */

  /* #maindiv{
    width: 1000px;
    height: 1000px;
    border: 1px black;
    background-color: aqua;
    display:flex;
   /* gap: 10px;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   

}

.subdiv{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: beige;
}   */


.superdiv{
    width: 700px;
    height: 700px;
    border: 1px black;
    background-color: aqua;
}
#maindiv1{
    width: 700px;
    height: 700px;
    border: 1px black;
    background-color: aqua;
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
    align-items: center;
}

.subdiv1{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: beige;
}