* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navigation */
nav {
  width: 100%;
  background:blue;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav .logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff9800;
}

