/* h1{
    font-size: larger;
}
h3{
    color: aqua;
}
div{
    border: 2px solid rgb(50, 23, 13);
}
h3{
    text-shadow:  10px 20px 0 rgb(76, 40, 40);
} */
 #d1, #d2 {
     width: 500px;
     height: 100px;
      border: 10px solid #000;
     font-size: 50px;
     padding: 10px;
     margin: 20px;


 }
 span{
    width: 500px;
     height: 100px;
      border: 10px solid #000;
     font-size: 50px;
     padding: 10px;
     margin: 20px;
 }
 #d3{
    width: 200px;
    height: 200px;
     border: 1px solid #e50505;
     margin: 20px 40px 60px 80px;
     padding: 0 0 10px;
     box-shadow: 10px 10px 5px 5px red;
    
 }