*{
    margin: 0px;
    padding: 0px;

}

#mainDiv{
    background-color: white;
    margin: 0px;
    padding: 0px;

}

#navbar gap-1{
    background-color: #fffffff2;
    color: black;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;

    #link{
        
        display: flex;
        gap: 60px;
        align-items: center;
        margin: auto;
        padding: auto;
        span{
            gap: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
        

    }

    
    
    #button{
        padding: 10px 10px;
        border: none;
        color: white;
        background-color:black;
        text-decoration-color:white;
        font-size: 15px;
        border-radius: 10px;
    }
  
}

