.red{
    color: red;
}

.green{
    color: greenyellow;
}

.blue{
    color:blue;
}

.bg-pink{
    background-color: pink;
}
.bg-voilet{
     background-color: violet;
}
.bg-green{
     background-color: green;
}

.font-large{
    font-size: large;
}
.font-xx-large{
    font-size: xx-large;
}
.font-small{
    font-size: small;
}